{
  "extends": "airbnb-base",
  "rules": {
    "comma-dangle": [2, "never"],
    "no-plusplus": "off",
    "no-restricted-globals": ["error", "event", "fdescribe"],
    "prefer-destructuring": "off",
    "no-param-reassign": "off",
    "no-console": "off",
    "no-shadow": "off",
    "no-const-assign": "warn",
    "no-this-before-super": "warn",
    "no-undef": "warn",
    "no-unreachable": "warn",
    "no-unused-vars": "warn",
    "constructor-super": "warn",
    "valid-typeof": "warn"
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "serviceworker": true
  }
}