@charset "utf-8";
/* CSS Document */

/* =========================== Common Styles =========================== */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
td,
th,
p {
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #fdfdfd;
  margin: 0;
  position:relative;
}

ul,
li {
  font-size: 10pt;
  color: dimgray;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: #f18200;
  text-decoration: none;
}

a:hover,
a:focus {
  color: orange;
  text-decoration: none;
}

a img{
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

.maincontent {
  background-color: #f3f3f3;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  width: 100vw;
}

.shadow {
  text-shadow: 2px 3px 2px rgba(0,0,0,0.4),
               5px 5px 6px rgba(0,0,0,0.1);
}

.flex-layout {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: space-between;
}

.rounded {
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

/* ============================ Navigation ============================ */
nav {
  width: 100vw;
  height: 80px;
  background-color: #252831;
  text-align:center;
  display: flex;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.breadcrumb {
  padding: 20px 25px;
  list-style: none;
  background-color: #eee;
  margin: 0;
}

/* ============================== Breadcrum ============================ */

/* Display list items side by side */
.breadcrumb li {
  display: inline;
  font-size: 20px;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumb li+li:before {
  padding: 6px;
  color: white;
  font-size: 25px;
  font-weight: 100;
  content: ">\0000a0";
  text-shadow: 2px 3px 2px rgba(0,0,0,0.4),
               5px 5px 6px rgba(0,0,0,0.1);

}

/* Add a color to all links inside the list */
.breadcrumb li a {
  color: #f18200;
  text-decoration: none;
}

/* Add a color on mouse-over */
.breadcrumb li a:hover {
  color: orange;
  text-decoration: underline;
}

/* ================================ Map ================================ */
.map {
  height: 400px;
  width: 100vw;
  background-color: #ccc;
}

/* ======================= Restaurant Filtering ======================= */
.filter-options {
  width: 100vw;
  background-color: orange;
  padding: 20px;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 1;
  margin: 0 10px;
}

.filter {
  display: flex;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ==================== Restaurant Listing - Cards ====================== */
.cards {
  background-color: #f3f3f3;
  list-style: none;
  margin: 30px;
}

.cards .cards__item {
  background-color: #fff;
  min-height: 380px;
  margin-bottom: 30px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card {
  background-color: white;
  padding: 2em 1.5em;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
          box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.card:hover .card__img,
.restaurant-container:hover .card__img {
  -webkit-filter: contrast(100%);
          filter: contrast(100%);
}

.cards .card__img,
.restaurant-container .card__img {
  margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: contrast(70%);
          filter: contrast(70%);
  overflow: hidden;
  position: relative;
  -webkit-transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.cards .cards__item .card__title {
  color: #f18200;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1.3;
  min-height: 52px;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

.cards p {
  margin: 0;
  font-size: 11pt;
}

.cards .cards__item a {
  background-color: #f18200;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 35px 15px 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ======================== Restaurant Details ========================= */

.restaurant-name {
  color: #f18200;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

.restaurant-container {
  padding: 15px 25px;
  margin-bottom: 30px;
}

.restaurant-address {
  font-size: 12pt;
  margin: 30px 15px;
  color: dimgray;
}

.restaurant-address::before {
  content: 'Address: ';
  font-weight: 100;
  padding-right: 10px;
}

.restaurant-hours {
  margin: 0 15px;
  font-weight: 100;
}

.restaurant-hours .day {
  color: #666;
  text-align: right;
  padding-right: 15px;
}

.restaurant-hours .time {
  background-color: rgba(255, 165, 0, .8);
  color: white;
  font-size: 12px;
  line-height: 20px;
  padding: 0 10px;
  border-radius: 3px;
}

.restaurant-hours .closed {
  background-color: rgba(128, 128, 128, .4);

}

.restaurant-cuisine {
  background-color: rgba(255, 165, 0, .4);
  color: white;
  font-size: 1.8em;
  font-weight: 300;
  letter-spacing: 5px;
  margin: 0;
  padding: 25px 0;
  height: 80px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  opacity: 0;
  z-index: 1;
  position: absolute;
  bottom: 0;
}

.card__img img {
  width: 100%;
}

.card__img:hover .fade-caption {
  opacity: 1;
}

/* ======================== Restaurant Reviews ========================= */

.reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 40px 30px;
}

.reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

.reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
}

.reviews-list .top {
  font-family: Helvetica;
  font-size: 20px;
  background: #444;
  color: white;
  height: 55px;
  width: 100%;
  padding: 0 20px;
  position: relative;
  top: 0;
  margin: 0 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
}

.top .date {
  font-size: 14px;
  color: lightgray;
  font-weight: 200;
}

.reviews-list .rating {
  margin: 20px;
  padding: 5px 10px;
  background: orange;
  color: white;
  font-size: 16px;
  border-radius: .2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.reviews-list .comments {
  color: dimgray;
  margin: 20px 20px 40px;
  font-size: 16px;
  font-family: Helvetica;
  font-weight: 100;
}

/* ====================== Media Queries ====================== */

@media screen and (min-width: 650px) {
  .cards__item,
  .reviews__item {
    max-width: 47%;
    margin-bottom: 0;
  }

  .filter-options {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  .restaurant-container .card__img {
    max-width: 800px;
    margin: 0 auto;
  }

  .restaurant-hours {
    display: flex;
    flex-direction: row;
  }

  .restaurant-hours tr {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }

  .restaurant-hours .day {
    padding-right: 0;
    text-align: center;
  }

  .restaurant-hours .time {
    text-align: center;
  }
}

@media screen and (min-width: 950px) {
  .cards__item,
  .reviews__item {
    max-width: 30%;
  }
  .maincontent {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .map {
    width: 40vw;
    height: 100%;
    align-self: center;
  }
  .restaurant-container {
    order: 0;
    width: 60vw;
  }
  .map-container {
    order: 1;
  }
  .reviews-container {
    order: 2;
    width: 100vw;
  }
}